[gcode_macro PURGE_LINE]
gcode:
    SAVE_GCODE_STATE NAME=PURGE_LINE_STATE

    G90
    M83
    G92 E0

    G1 Z2.0 F3000
    G1 X0 Y20 Z0.28 F5000

    G1 X0 Y100 Z0.28 F1500 E15
    G1 X0.4 Y100 Z0.28 F5000
    G1 X0.4 Y20 Z0.28 F1500 E15

    G92 E0
    G1 E-0.8 F1800
    G1 Z2.0 F3000
    G1 X5 Y20 F5000

    RESTORE_GCODE_STATE NAME=PURGE_LINE_STATE


# [gcode_macro PURGE_LINE]
# description: Stock Ender 3 V3 SE purge line
# gcode:
#     SAVE_GCODE_STATE NAME=PURGE_LINE_STATE

#     G90
#     M83

#     ; Поднимаемся над столом
#     G1 Z2.0 F3000

#     ; Левая нижняя часть стола
#     G1 X0 Y20 Z0.28 F5000

#     ; Первая линия
#     G1 X0 Y100 Z0.28 F1500 E15

#     ; Небольшой сдвиг вправо
#     G1 X0.4 Y100 Z0.28 F5000

#     ; Вторая линия
#     G1 X0.4 Y20 Z0.28 F1500 E15

#     ; Сброс экструдера
#     G92 E0

#     ; Уходим от линии
#     G1 Z2.0 F3000
#     G1 X5 Y20 F5000

#     RESTORE_GCODE_STATE NAME=PURGE_LINE_STATE